<template>
  <div class="data">
    <h2>Información...</h2>
    <h3>
      <span class="crypto">{{ cryptoName }}</span>
      -
      <span class="currency">{{ currencyName }}</span>
    </h3>
    <img :src="`https://www.cryptocompare.com${cryptoImage}`" />
    <p>
      Precio:
      <strong>$ {{ exchangeRate }}</strong>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    cryptoName: {
      type: String,
      required: true,
    },
    currencyName: {
      type: String,
      required: true,
    },
    cryptoImage: {
      tpye: String,
      required: true,
    },
    exchangeRate: {
      type: Number,
      required: true,
    },
  },
};
</script>
