<template>
  <div>
    <form @submit.prevent="$emit('currency-info', myCrypto, myCurrency)">
      <div>
        <label> Moneda Nacional: </label>
        <select v-model="myCurrency" required>
          <option value="" disabled selected>Seleccione una Moneda...</option>
          <option>ARS</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
      </div>
      <div>
        <label> Cryptomoneda: </label>
        <select v-model="myCrypto" required>
          <option value="" disabled selected>
            Seleccione una Cryptomoneda...
          </option>
          <option>BTC</option>
          <option>ETH</option>
          <option>LTC</option>
        </select>
      </div>

      <div>
        <button type="submit">Cotizar</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: () => ({
    myCurrency: "",
    myCrypto: "",
  }),
};
</script>
