<template>
  <div class="container">
    <h1>Cotizador de Cryptomonedas</h1>
    <the-grid>
      <the-form @currency-info="getMoney" />
      <the-data
        :cryptoName="info.cryptoName"
        :currencyName="info.currencyName"
        :cryptoImage="info.cryptoImage"
        :exchangeRate="info.exchangeRate"
      />
    </the-grid>
  </div>
</template>

<script>
import TheData from "./components/TheData.vue";
import TheForm from "./components/TheForm.vue";
import TheGrid from "./components/TheGrid.vue";
export default {
  components: { TheForm, TheData, TheGrid },
  data: () => ({
    info: {
      cryptoName: "*",
      currencyName: "*",
      cryptoImage: "/media/37746238/eth.png",
      exchangeRate: 0,
    },
  }),
  methods: {
    async getMoney(myCrypto, myCurrency) {
      const res = await fetch(
        `https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${encodeURI(
          myCrypto
        )}&tsyms=${encodeURI(myCurrency)}`
      );

      const { RAW } = await res.json();
      const dataCrypto = RAW[myCrypto];
      const dataCurrency = dataCrypto[myCurrency];

      this.info.cryptoName = myCrypto;
      this.info.currencyName = myCurrency;
      this.info.cryptoImage = dataCurrency.IMAGEURL;
      this.info.exchangeRate = dataCurrency.PRICE;
    },
  },
};
</script>
