.data {
  text-align: center;
}

h2 {
  margin-top: 5px;
  color: gold;
}

h3 {
  font-size: 40px;

  & .crypto {
    color: tomato;
  }
  & .currency {
    color: lime;
  }
}

img {
  width: 170px;
}

p {
  font-size: 50px;

  & strong {
    color: orange;
  }
}
